.X00Container {
  border: 1px solid #033f47;
  border-radius: 5px;
  margin: 20px auto;
  overflow: hidden;
  width: 790px;
  -moz-box-shadow: 0px 0px 5px rgba(4, 47, 53, 0.83);
  -webkit-box-shadow: 0px 0px 5px rgba(4, 47, 53, 0.83);
  box-shadow: 0px 0px 25px rgba(4, 47, 53, 0.83);
}
